html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    /*width: 100%;
    height: 100%;*/
    min-width: 450px;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

section.score-panel {
    font-size: 20px;
    vertical-align: middle;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 692px;
    /*height: 680px;*/
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    list-style: none;
}
/*
 * animation for when card is clicked
 */

 @-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-ms-keyframes shake {
    0%, 100% {-ms-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-ms-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-ms-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.deck .card.unmatch:target {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -ms-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

.deck .card.unmatch {
    background: #ff3728;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

/*.score-panel {
    text-align: left;
    width: 400px;
    margin-bottom: 10px;
}*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
}

.flex-item {
    margin: 1rem;
    flex-grow: 1;
    vertical-align: middle;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#timer{
    display: inline-block;
    margin: 0 25px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.fa-redo-alt:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear; 
}

/* 
 * modal styles
 */

#modal {
    /*display: none;*/ /* hidden by default */
    position: fixed;
    z-index: 1; /* sit on top */
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

/*
 * Modal content
 */

 .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
 }

 /* 
  * Add animation
  */

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}

/*
 * close button
 */

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* 
 * Modal header
 */

.modal-header {
    padding: 2px 16px;
    background-color: #ccc;
    color: #fff;
}

/*
 * Modal body
 */

.modal-body {padding: 2px 16px;}

.modal-body .totalStars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.modal-body .totalStars li {
    list-style: none;
    display: inline-block;
}

/* 
 * Modal footer
 */

.modal-footer {
    padding: 20px;
    background-color: #ccc;
    color: #fff;
}

@media screen and (max-width: 750px) {
    .deck {max-width:600px;}
    .deck .card {
        height: 100px;
        width: 100px;
    }
    .modal-content {width: 60%;}
}

@media screen and (max-width: 660px) {
    .deck {max-width: 500px;}
    .deck .card {
        height: 85px;
        width: 70px;
        margin: 12px;
    }
    .modal-content {width: 60%;}
}

@media screen and (max-width: 545px) {
    .deck {
        max-width: 460px;
        padding: 20px;
    }
    .deck .card {
        margin: 10px;
        height: 85px;
    }
}

@media screen and (max-width: 450px) {
    .deck {
        max-width: 400px;
        padding: 18px;
    }
    .deck .card {
        height: 70px;
    }
}