html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    /*width: 100%;
    height: 100%;*/
    min-width: 450px;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coming Soon', cursive;
    font-weight: bolder;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    /*font-family: 'Open Sans', sans-serif;*/
    font-weight: bolder;
}

section.score-panel {
    font-size: 20px;
    vertical-align: middle;
}

/*
 * Styles for the deck of cards
 */

.deck {
    max-width: 750px;
    /*height: 680px;*/
    /*background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);*/
    background-color: #ffffff;
    padding: 32px;
    /*border-radius: 10px;*/
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    /*box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);*/
    border: solid 5px #aed581;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 15px 225px 15px 255px/255px 15px 225px 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    vertical-align: middle;
    box-shadow: 20px 38px 34px -26px hsla(0,0%,0%,.2);
    border: solid 3px #aed581;
    background-color: #fff;
    list-style: none;
}

.deck .card:hover {
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

.card:nth-child(2) {
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.deck .card.open {
    transform: rotateY(0);
    background: #aed581;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #80deea;
    font-size: 33px;
}

.deck .card.unmatch {
    background: #ff7961;
    font-size: 33px;
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

/*
 * animation for when card is clicked
 */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


/*
 * Styles for the Score Panel
 */

/*.score-panel {
    text-align: left;
    width: 400px;
    margin-bottom: 10px;
}*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    max-width: 680px;
}

.flex-item {
    margin: 1rem;
    flex-grow: 1;
    vertical-align: middle;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
    color: #aed581;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

#timer{
    display: inline-block;
    margin: 0 25px;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.fa-redo-alt:hover {
    -webkit-animation: fa-spin 2s infinite linear;
    -moz-animation: fa-spin 2s infinite linear;
    -o-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear; 
}

/* 
 * modal styles
 */

#modal {
    display: none; /* hidden by default */
    position: fixed;
    z-index: 1; /* sit on top */
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    text-align: center;
}

/*
 * Modal content
 */

 .modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
 }

 /* 
  * Add animation
  */

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1;}
}

/*
 * close button
 */

.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* 
 * Modal header
 */

.modal-header {
    padding: 2px 16px;
    background-color: #aed581;
    color: #fff;
}

/*
 * Modal body
 */

.modal-body {padding: 2px 16px;}

.modal-body .totalStars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.modal-body .totalStars li {
    list-style: none;
    display: inline-block;
}

/* 
 * Modal footer
 */

.modal-footer {
    padding: 20px;
    background-color: #aed581;
    color: #fff;
}

.modal-footer button {
    font-size: 16px;
    padding: 10px;
    cursor: pointer;
    color: #fff;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;;
    border: solid 3px #fff; 
    background-color: #aed581;
    font-family: 'Coming Soon', cursive;
    font-weight: bold;
    box-shadow: 15px 33px 29px -21px hsla(0,0%,0%,.2);
}

.modal-footer button:hover {
    box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
}

@media screen and (max-width: 750px) {
    .deck {max-width:600px;}
    .deck .card {
        height: 100px;
        width: 100px;
    }
    .modal-content {width: 60%;}
}

@media screen and (max-width: 660px) {
    .deck {max-width: 500px;}
    .deck .card {
        height: 85px;
        width: 70px;
        margin: 12px;
    }
    .modal-content {width: 60%;}
}

@media screen and (max-width: 545px) {
    .deck {
        max-width: 460px;
        padding: 20px;
    }
    .deck .card {
        margin: 10px;
        height: 85px;
    }
}

@media screen and (max-width: 450px) {
    .deck {
        max-width: 400px;
        padding: 18px;
    }
    .deck .card {
        height: 70px;
    }
}